// Specific CSS for your home-page
.logo {
  position: relative;
  display: inline-block;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50px;
}
.green-bg {
  background-color: #84c186;
}
