<!DOCTYPE html>
<html>
<head>
  <title>Glass Collect</title>
  <link rel="stylesheet" type="text/css" href="application.scss">
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-nav">


    </ul>
  </nav>

  <h1>Glass Collect</h1>


</body>
</html>
