<!DOCTYPE html>
<html>
<head>
  <title>Glass Collect - Récupérez et Recyclez</title>
  <link rel="stylesheets" href="/assets/pages/home.scss">
</head>
<body>
  <!-- Contenu de la page -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Glass Collect</h1>
      <p class="lead">Recyclez vos bouteilles en verre et gagnez des points pour des récompenses.</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Comment ça fonctionne ?</h2>
        <p>Déposez vos bouteilles en verre dans nos dépôts partenaires et scannez votre compte pour accumuler des points. Échangez vos points contre des récompenses écologiques.</p>
        <%= link_to "En savoir plus", "#", class: "btn btn-primary btn-lg" %>
        <div class="col-md-6 d-flex flex-column justify-content-center>
         <div class="image-container">
          <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1688064010/photo-1687428455_ws8iuf.jpg" alt="Image bouteille" class="img-fluid rounded">
         </div>
        </div>
      </div>

      <div class="col-md-6">
        <h2>Pourquoi recycler le verre ?</h2>
        <p>Le recyclage du verre préserve les ressources naturelles, réduit les émissions de CO2 et contribue à la protection de notre environnement. Rejoignez-nous dans notre mission de recyclage responsable.</p>
        <%= link_to "Rejoignez-nous", "#", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

  <!-- Inclure les balises script, les balises footer, etc. -->

</body>
</html>
