<div class="container">
  <h3>Trouvez votre re-use box</h3>
  <div class="row">
    <div class="col-12">
      <div style="width: 50%; height: 800px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <form class="d-flex my-2 my-lg-0" data-controller = "reset-form">
          <input class="form-control w-25 me-2" name="query" type="search" data-reset-form-target="form" placeholder="Pour combien de bouteilles?" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-action="click->reset-form#reset" >Chercher</button>
  </form>
</div>

<%# <input type="reset" value="reset"> %>
<%# {controller: :"reset_form", action: "turbo:submit-end->reset-form#reset"} %>
