<div class="container">
  <h3 class="text-success"><strong>Trouvez le dépôt le plus proche de vous !</strong></h3>
  <div class="row">
    <div class="col-12">
        <% if @markers == [] %>
            <p class= "text-success"><strong>"Oups, aucune re-use box ne peut absorber tant de bouteilles"</strong></p>
        <% else %>
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
        <% end %>
    </div>
  </div>
  <form class="d-flex my-2 my-lg-0" >
          <input class="form-control me-1" name="query_address" type="search" placeholder="Près d'où ? adresse, ville " aria-label="Search" value="<%= params[:query_address] %>">
          <input class="form-control me-1" name="query_number" type="search" placeholder="Pour combien de bouteilles?" aria-label="Search" value="<%= params[:query_number] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >ok</button>
  </form>
</div>
