// .custom-link {
//   text-decoration: none;
//   color: inherit;
// }

.btn-popup {
 border-radius: 4px;
 width: 75px;
 height: 25px;
 text-decoration: none;
 font-size: 12px;
 background-color:rgb(36, 187, 76) ;
 color: black;
 text-align: center;
 padding: 2px;

}

.btn-popup:hover {
  text-decoration: none;
  background-color: $success;
  color: white;
}

.div-btn-popup{
  margin-top: 10px;
  align-items: flex-end;
}

.btn-jackpot{
  border-radius: 50%;
  font-size: 27px;
  width: 80px;
  height: 80px;
  background-color:orange ;
  color: white;
  text-align: center;
  padding-top:21px;
  margin: 0 auto;
}
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background: url("cu_vert.png");
  background-size: cover;
  cursor: pointer;

}
.custom-range::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background: url("cu_vert.png");
  background-size: cover;
  cursor: pointer;
}
