// .custom-link {
//   text-decoration: none;
//   color: inherit;
// }

.btn-popup {
 border-radius: 4px;
 width: 75px;
 height: 25px;
 text-decoration: none;
 font-size: 12px;
 background-color:rgb(36, 187, 76) ;
 color: black;
 text-align: center;
 padding: 2px;

}





.btn-popup:hover {
  text-decoration: none;
  background-color: $success;
  color: white;
}

.div-btn-popup{
  margin-top: 10px;
  align-items: flex-end;
}
