.card-reviews {
box-shadow: 2px 2px 2px 1px $success;
background-color: #c2eff6;
margin: 5px;
}

.logo-link {
  text-decoration: none;
  color: black;
}


.banner-booking {
  background: url("cratebottle.jpg");
  background-size: cover;
  background-position: center;
}


.card-jackpot{
  color: white;
  font-weight: bold;
  text-align: center;
  background: url("cratebottle11.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin-top: 4px;
 }

 .card-partenaire{
  color:black;
  background-color:#76a72e;
  border-radius: 4px;
  margin-top: 3px;
 }
