.card-reviews {
box-shadow: 2px 2px 2px 1px $success;
background-color: #c2eff6;
margin: 5px;
}

.logo-link {
  text-decoration: none;
  color: black;
}

.banner-booking {
  height: 100%;
  background: url("cratebottle.jpg");
  background-size: cover;
  background-position: center;
  // background-size: contain;

  top: -1;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-jackpot{
  color: white;
  font-weight: bold;
  text-align: center;
  background: url("cratebottle11.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin-top: 4px;
  padding-top: 3px;
 }

 .card-partenaire{
  color:black;
  background-color:#a1c56c;
  border-radius: 4px;
  margin-top: 3px;
  padding-top: 3px;
 }

 .card-dashboard{
  background-color: #cdf557;
  background-size: cover;
  border-radius: 4px;
  color: $success;
  font-size: 15px;
  margin-top: 2px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
 }

 .booking-card{
  margin-bottom: 3px;
  background-color:white;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 1px $success;
  padding-top: 3px;
  padding-right: 3px;
 }

 
.card-photo-dashboard{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("cratebottle10.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-photo-review{
  background:url("cratebottle7.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  font-size: larger;
  font-weight: bold;
}


// html, body {
//   height: 100%;
// }
