.mapboxgl-popup {
  // max-width: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  max-width: 400px;
  max-height: 80vh; /* Utilisez une hauteur maximale en pourcentage de la hauteur de la fenêtre (viewport) */
  overflow: auto;
  font-size: 14px;
  flex-direction: column;
  background: $yellow;
  border-radius: 1.25rem;
  border: 0.1rem solid;
  border-color: $success;
}
